<%- include('../partials/header') %>




<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Number of<br>Reps</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(function(workout) { %>
      <tr>
        <td><%= workout.title %></td>
        <td><%= workout.numberOfReps %></td>
        <td>
          <a href="/workouts/<%= workout._id %>" class="btn btn-info">Show</a>
          <a href="/workouts/<%= workout._id %>/edit" class="btn btn-primary">Edit</a>
          <form action="/workouts/<%= workout._id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
    <% }); %>
      </form>
    </tbody>
  </table>
  
  
<%- include('../partials/footer') %>